@font-face {
    font-family: 'Aqum';
    src: url('../fonts/Aqum/Aqum.woff2') format('woff2'),
         url('../fonts/Aqum/Aqum.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
