.header {
    width: 100%;
    background: $color-bg;
    display: inline-flex;
    flex-direction: column;

    & > * {
        padding-left: 4px;
        padding-right: 4px;
    }

    &_list {
        display: inline-flex;
        gap: 4px;
        justify-content: center;
        width: 100%;
        padding: 0;
        margin: 0;
        list-style: none;
    }

    &_item {
        margin: 8px 0;
    }

    &_link {
        padding: 4px 8px;
        border-radius: 4px;
    }
}
