.works {
    &__row {
        &_content-center {
            justify-content: center;
        }
    }

    &__col {
        border-radius: 20px;
        background-color: $color-about-img-shadow;
        text-align: center;
    }
}
